{% extends 'base/base.html' %}
{% load static %}
{% block css %}
<style>
    body {
        background-image: url({% static 'Fields/images/bg2-fields.png' %});
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>
{% endblock %}
{% block content %}
<br>
<br>
<br>
<br>
    <div class="container col-xxl-7 col-xl-4 col-lg-5 col-md-5 col-sm-6 col-9 mt-3 p-4 border rounded shadow bg-white">
        <form method="post" enctype="multipart/form-data">
            <img src="{% static 'Fields/images/add_fields__1_-removebg-preview.png' %}" alt="user" width="300" class="d-block mx-auto">
            {% csrf_token %}
            {% comment %} {{ form.as_p }} {% endcomment %}
            <input type="text" id="name" name="name" required class="form-control" placeholder="name"><br>
            <div class="btn-group">
                <select class="form-select " id="size" name="size" required>
                    <option value="">Select size</option>
                    <option value="5">5x5</option>
                    <option value="7">7x7</option>
                    <option value="11">11x11</option>
                </select>
            </div>
            <br><br>
            <div class="mb-3">
                <input class="form-control" type="file" id="formFile">
            </div>
            <input type="text" id="longitude" name="longitude" required class="form-control" placeholder="longitude"><br>
            <input type="text" id="latitude" name="latitude" required class="form-control" placeholder="latitude"><br>
            <input type="submit" value="Create Field" class="btn btn-success">
        </form>
    </div>
{% endblock %}