{% extends 'base/base.html' %}
{% block content %}
<section id="services">
  <h1 class="text-center fw-bold display-4"><em>Fields</em></h1>
  <br>
  <ul>
  {% for field in fields %}
<!-- 
<div style=" display: inline-block;">
  <div class="card "style="width: 18rem; ">
    <img src="{{ field.image.url }}" alt="{{ team.name }}" alt="{{ field.name }}">
    <div class="card-body" >
      <h5 class="card-title">{{ field.name }} </h5>
 <div class="text-lg font-semibold text-slate-500">
          640.00 DH
        </div>
      <li> {{ field.get_size_display }}</li>
      <a  class="btn btn-primary" href="http://127.0.0.1:8000/reservation/reserver/">reserver</a>

    </div>
  </div>
</div> -->


<div class="col-lg-3 mx-5 my-4 d-inline-flex shadow "  >
  <div class="card shadow"  >
    <img src="{{ field.image.url }} " class="card-img-top img-fluid"  alt="Card Image">
    <div class="card-body d-flex flex-column">
      <h5 class="card-title fw-bold">{{ field.name }} </h5>
      <p class="card-text mb-4">{{ field.get_size_display }}</p>
      <div class="text-lg font-semibold text-slate-500">
        640.00 DH
      </div>
      <br>
      <a href="#" class="btn btn-primary text-white mt-auto align-self-start">Book now</a>
    </div>
  </div>
</div>

<!-- 
      <div class="col-lg-4 mb-3 d-flex align-items-stretch" >
        <div class="card "  >
          <img src="{{ field.image.url }} " class="card-img-top"  alt="Card Image">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{ field.name }} </h5>
            <p class="card-text mb-4">{{ field.get_size_display }}</p>
            <a href="#" class="btn btn-primary text-white mt-auto align-self-start">Book now</a>
          </div>
        </div>
      </div> -->




    <!-- <li>{{ field.name }} - {{ field.get_size_display }}</li>
   
    <img src="{{ field.image.url }}" width="100" height="100" alt="{{ team.name }}" alt="{{ field.name }}">
   
    <button><a href="http://127.0.0.1:8000/reservation/reserver/">reserver</a></button>
    -->
  {% endfor %}
  </ul>
</section>
<style>
  .card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}
</style>
{% endblock %}
