{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>HOME - NIX FC</title>
    <link rel="stylesheet" href="{% static 'base/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic&amp;display=swap">
    <link rel="stylesheet" href="https://cdn.reflowhq.com/v2/toolkit.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="{% static 'base/assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'base/assets/css/aos.min.css' %}">
    <link rel="stylesheet" href="{% static 'base/assets/css/baguetteBox.min.css' %}">
    <link rel="stylesheet" href="{% static 'base/assets/css/styles.css' %}">
        {% block css %}

        {% endblock %}
    <link rel="icon" type="image/png" href="{% static 'base/assets/img/NIXFC-removebg-preview.png' %}">
    <link rel="stylesheet" href="{% static 'Fields/static/Fields/style/styles.css' %}">
</head>
<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="57">
    {% block nav %}
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
        <div class="container"><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-align-justify"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <img src="{% static 'base/assets/img/NIXFC-removebg-preview.png' %}" width="67" height="65" href="/">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="#">Find a team</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Find a player</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">RSV  a pitch</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    {% endblock %}
{% block content %}

{% endblock %}

{% block js %}{% endblock %}
<script src="{% static 'base/assets/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'base/assets/js/aos.min.js' %}"></script>
<script src="{% static 'base/assets/js/bs-init.js' %}"></script>
<script src="{% static 'base/assets/js/baguetteBox.min.js' %}"></script>
<script src="{% static 'base/assets/js/creative.js' %}"></script>
</body>

</html>