{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<section id="services">
  <div class="container my-auto">
    <div class="col-lg-9 mx-auto  shadow ">
      <div class="card shadow px-5 py-2">
  <h2>Liste des Reservation</h2>

  <table border=1>
    <thead>
      <tr>
        <th>Fields</th>
        <th>userName</th>
        <th>start timee</th>
        <th>end time</th>

      </tr>
    </thead>

    <tbody>
      {% for rsv in reservation %}
      <tr>
        <td>{{ rsv.field }}</td>
        <td>{{ rsv.user }}</td>
        <td>{{ rsv.start_time }}</td>
        <td>{{ rsv.end_time }}</td>


      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
</div>
</section>
<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
 h2{
  text-align: center;
 }
  </style>
{% endblock %}
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.17/dist/sweetalert2.all.min.js"
        integrity="sha256-RhRrbx+dLJ7yhikmlbEyQjEaFMSutv6AzLv3m6mQ6PQ=" crossorigin="anonymous"></script>
{% if message %}
    <script>
        Swal.fire({
            icon: 'success',
            confirmButtonColor: '#6c757d',
            text: '{{ message }}',
        });
    </script>
{% endif %}
{% endblock %}