{% extends 'base/base.html' %}
{% block css %}
<style>
    body {
        background-image: url('https://images.pexels.com/photos/3621094/pexels-photo-3621094.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>
{% endblock %} {% block content %}

<section>
    <div class="container my-auto">
      <div class="col-lg-9 mx-auto  shadow ">
        <div class="card shadow px-5 py-2">
    <h2>Organizations</h2>
    <hr />
    {% if user.is_authenticated and user.is_admin %}
    <a href="/organization/create/" class="btn btn-primary mb-2"
      >Create Organization</a
    >
    {% endif %}
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Image</th>
          {% if user.is_authenticated and user.is_staff %}
            <th>Actions</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for organization in organizations %}
        <tr>
          <td><a href="/organization/{{ organization.id }}/">{{ organization.name }}</a></td>
          <td>
            <img src="{{ organization.image.url }}" width="100" height="100" />
          </td>
          <td>
            {% if user.is_authenticated and user.is_staff %}
              <a
                href="/organization/{{ organization.id }}/update/"
                class="btn btn-primary"
                >Edit</a
              >
              <a
                href="/organization/{{ organization.id }}/delete/"
                class="btn btn-danger"
                onclick="return confirm('Are you sure you want to delete this organization?')"
                >Delete</a
              >
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
</div>
</section>
{% endblock %}
