{% extends 'base/base.html' %} {% block content %}
<section>
  <div class="container mt-4">
    <div class="container my-auto">
      <div class="col-lg-9 mx-auto  shadow ">
        <div class="card shadow px-5 py-2">
    <h2>Confirm Deletion</h2>
    <hr />
    <p>Are you sure you want to delete "{{ organization }}"?</p>
    <form method="POST">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Yes, delete</button>
      <a href="/organization/" class="btn btn-secondary"
        >Cancel</a
      >
    </form>
  </div>
</div>
</div>
  </div>
</section>
{% endblock %}
